node_modules
.git
.env
vendor
vuexy-admin-v10.11.1
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.prettierrc
.prettierignore
.editorconfig
phpunit.xml
eslint.config.js
*.md
docker-compose*.yml
composer.phar
project-status-report.*
public/hot
